// .list{
//     &__item{
//         &--black{
//             background-color: black;
//         }
//         &--red{
//             background-color: red;
//         }
//     }
// }

Input {
    width: 15em;
    margin-top: 2em;
    margin-bottom: 1em;
}

Button{
    width: 6em;
    margin-top: 1em;
    margin-right: 1em;
}
.list-item{
    margin-top: 0,5em;
    margin-bottom: 0.5em;
}